(base_r:numerical_vectors)=
# Numerical Vectors
A numerical vector is simply a vector whose entries are numbers.

## Computing with vectors
Arithmetic operations that combine a vector with a single number distributed to all entries in the vector.

In [7]:
c(1,2,3)*5 # Each entry is multiplied by five.

[1]  5 10 15

Arithmetic operations that combine multiple vectors are performed entry-by-entry.

In [9]:
c(1,2,3) - c(6,5,4) # Same output as c(1-6, 2-5, 3-4)

[1] -5 -3 -1

## Useful functions
For more information on these functions, execute `?FUNCTION_NAME` and read the documentation.

In [2]:
# Store ten random numbers in a the variable ten_numbers
ten_numbers <- c(5.8, 3.52, 7.81, 0.4, 4.79, 3.04, 4.89, 5.23, 2.37, 4.32)

### Min and max
The `min()` and `max()` functions return respectively the minimum and maximum value in a numerical vector.

In [8]:
min(ten_numbers)

[1] 0.4

In [9]:
max(ten_numbers)

[1] 7.81

### Length
The `length()` function returns the number of entries in a vector.

In [4]:
length(ten_numbers)

[1] 10

### Sum
The `sum()` function returns the sum of the entries in a numerical vector.

In [5]:
sum(ten_numbers)

[1] 42.17

### Mean a.k.a. average
The *average* of a collection of values is defined to be
$$\frac{\text{sum of the values}}{\text{number of values}}.$$

We can perform this computation by combining the previous two functions

In [7]:
sum(ten_numbers)/length(ten_numbers)

[1] 4.217

Alternatively, we can use the `mean()` which returns the average of the entries in a numerical vector.

In [3]:
mean(ten_numbers)

[1] 4.217