(base_r:numerical_vectors)=
# Numerical Vectors
A numerical vector is simply a vector whose entries are numbers.

(vectors_computing)=
## Computing with vectors
Arithmetic operations that combine a vector with a single number distributed to all entries in the vector.

In [5]:
c(1,4,7)*5 # Each entry is multiplied by five.

[1]  5 20 35

In [4]:
c(1,4,7)-2 # Two is subtracted from each entry.

[1] -1  2  5

Arithmetic operations that combine multiple vectors are performed entry-by-entry.

In [6]:
c(1,2,3) - c(6,5,4) # Same output as c(1+6, 2-5, 3-4)

[1] -5 -3 -1

In [7]:
c(1,2,3) * c(6,5,4) # Same output as c(1*6, 2*5, 3*4)

[1]  6 10 12

(r_basics:numerical_vectors:functions)=
## Useful functions
Most functions in this section use the following syntax.

```FUNCTION_NAME(VECTOR)```

For more information about a particular function, access the documentation by running `?FUNCTION_NAME` where `FUNCTION_NAME` is replaced by the name of the function.

In [8]:
# Store ten random numbers in a the variable ten_numbers
ten_numbers <- c(5.8, 3.52, 7.81, 0.4, 4.79, 3.04, 4.89, 5.23, 2.37, 4.32)

### Min and max
The `min()` and `max()` functions return respectively the minimum and maximum value in a numerical vector.

In [8]:
min(ten_numbers)

[1] 0.4

In [9]:
max(ten_numbers)

[1] 7.81

### Length
The `length()` function returns the number of entries in a vector.

In [4]:
length(ten_numbers)

[1] 10

### Sum
The `sum()` function returns the sum of the entries in a numerical vector.

In [5]:
sum(ten_numbers)

[1] 42.17

### Mean a.k.a. average
The *mean* or *average* of a collection of values is defined to be
$$\frac{\text{sum of the values}}{\text{number of values}}.$$

We can perform this computation by combining the previous two functions

In [7]:
sum(ten_numbers)/length(ten_numbers)

[1] 4.217

Alternatively, we can use the `mean()` which returns the average of the entries in a numerical vector.

In [3]:
mean(ten_numbers)

[1] 4.217

## Round
The `round()` function rounds numbers to the specified number of decimal places. It can be applied to a single number or to a numerical vector. When applied to a numerical vector, it rounds each entry. 

```round(VECTOR_OR_NUMBER, NUMBER_OF_DECIMAL_PLACES)```

In [9]:
# Recall the values in ten_numbers
ten_numbers

 [1] 5.80 3.52 7.81 0.40 4.79 3.04 4.89 5.23 2.37 4.32

In [10]:
round(ten_numbers, 1) # rounds each number to one decimal place

 [1] 5.8 3.5 7.8 0.4 4.8 3.0 4.9 5.2 2.4 4.3

In [13]:
round(ten_numbers, 0) # rounds each number to the nearest whole number

 [1] 6 4 8 0 5 3 5 5 2 4