# Lesson 2 Variables and Vectors
These exercises are to help you check your understanding during class. They will not be collected.

The content for this lesson is in the following subsections of the Base R section of the course book:
- [Variables](base_r:variables)
- [Data Types](base_r:data_types) 
- [Vectors](base_r:vectors) 
- [Numerical Vectors](base_r:numerical_vectors)

## Useful links
### Class notes
Link on Brightspace or<br>
Tiny URL: https://tinyurl.com/Fall21CORE111


### Poll Everywhere
The following links are also on NYU Classes<br>
Login: https://www.polleverywhere.com/auth/saml/nyu_main<br>
Respond: https://pollev.com/clarkson<br>

## Part 1: Using variables

### Exercise 0 - Access notebook and copy it
* Save your own copy of this notebook by using the menu opetion File > Save As. 
* Now, **refresh the page**. The red icon in the upper right should no longer be visible.

### Exercise 1: Random number
The code in the cell below generates a random number between 0 and 10 and stores it in the variable `random_number`.
- Execute the code in the cell below.
- Use a different code cell to output the value of random_number.
- Execute the code in the cell below a second time.
- Execute your code a second time. The value of `random_number` should be different this time.

In [12]:
# You cannot edit this cell. 
# Notice that R gives no output when you assign values to variables.
# You can see that the cell has been exicuted if there is a number in the brackets: In [].

random_number <- runif(1,0,10) # generates a random number between 0 and 10

In [13]:
random_number

[1] 4.579626

### Exercise 2: Birth year
Ainsley was born on January 1st 2015. 
- Store Ainsley's birth year in the variable `birth_year`.
- Use `birth_year` to compute the year when Ainsley will turn 21.
- Use `birth_year` to compute how old Ainsley will be in 2050.
- Summarize your findings in a sentence or two in a markdown cell.

In [8]:
birth_year <- 2015
birth_year + 21
2050 - birth_year

[1] 2036

[1] 35

Ainsley will turn 21 in 2036 and will be 35 in 2050.

## Part 2: Building Vectors

### Exercise 3: Boroughs
Create a vector that contains the names of the five boroughs of New York city:
- Brooklyn
- Bronx
- Manhattan
- Queens
- Staten Island

In [1]:
c('Brooklyn',
'Bronx',
'Manhattan',
'Queens',
'Staten Island')

[1] "Brooklyn"      "Bronx"         "Manhattan"     "Queens"
[5] "Staten Island"

### Exercise 4: Dollars and cents
Create a vector that contains all the amounts of money that you can make with five quarters. Format the amounts using decimals and no dollar signs eg. write $5.75$ for five dollars and 75 cents.

In [3]:
# Solution 1: type each value
c(0.25,0.5,0.75,1,1.25)

[1] 0.25 0.50 0.75 1.00 1.25

In [4]:
# Solution 2: multiply c(1,2,3,4,5) by 0.25
1:5*0.25

[1] 0.25 0.50 0.75 1.00 1.25

### Exercise 5: Count to 100
Create a vector that contains the whole numbers from 1 to 100.

In [ ]:
1:100

### Exercise 4: Check the type
Use `typeof()` to check the data type of the entries in each of the vectors from this part.

In [5]:
typeof(c('Brooklyn', 'Bronx', 'Manhattan', 'Queens', 'Staten Island'))
typeof(c(0.25,0.5,0.75,1,1.25))
typeof(1:100)

[1] "character"

[1] "double"

[1] "integer"

## Part 3: Working with vectors

### Exercise 5: Counting by fives
Without typing out the individual entries, create a list whose entries are the following numbers:
10 15 20 25 30 35 40 45 50 55.

In [ ]:
# multiply the whole numbers 2 to 11 by 5
(2:11)*5

### Exercise 6: Ice cream sale!!!

An icecream truck sells many different types of ice cream. The prices of each type of ice cream are stored in a list called `ice_cream_prices`in the code cell below. Today the icecream is on sale! The amount that each item is discounted is stored in the list called `discounts`. The order of the discounts corresponds to the order of the prices. 

- Create a new list with the sale prices of each item and store the list in a variable called `sale_prices`.
- Output the values in `sale_prices`.

In [15]:
# You cannot edit this cell. 
# Notice that R gives no output when you assign values to variables.
# You can see that the cell has been exicuted if there is a number in the brackets: In [].

ice_cream_prices <- c(1.25, 3, 5.99, 1.75, 6.75, 4.99, 7.09, 3.55, 2)
discounts <- c(0.25, 1, 0.50, 0.5, 1, 0, 1, 0.25, 0)

In [16]:
sale_prices <- ice_cream_prices - discounts
sale_prices

[1] 1.00 2.00 5.49 1.25 5.75 4.99 6.09 3.30 2.00

### Exercises 7: More ice cream 
Use `sale_prices` from the previous exercise and R functions to determine the answers to the following questions:
* How many types of ice cream does the truck sell?
* What is the cost of the most expensive frozen treat?
* What is the cost of the cheapest ice cream option?
* What is the average cost of an item from the truck rounded to the nearest cent?

In [ ]:
length(sale_prices) # number of types of ice cream
max(sale_prices) # cost of most expensive
min(sale_prices) # cheapest price
mean(sale_prices) # average cost