(homework04)=
# Homework 4

## Name, NetID, Collaborators
Please edit the markdown cell below for “Names & NetIDs” and enter:
- Your name and NetID (eg. cc5948), and
- The names and NetIDs of everyone with whom you have collaborated with (e.g., discussed
questions with, provided help to, received help from, etc.).

Our goal is to create an honest, collaborative, and positive learning environment. Keep
in mind that while collaboration in lab and homework is strongly encouraged, the work
you submitted must be your own (you typed them up yourself; you can explain what you
submitted). Your goal is to use the help and support to eventually understand the ideas
and the methods yourself

**Name and NetID:**


**Collaborators:**

## Part 1: Boolean expressions

### Exercise 1: Truth table

- Run the code cell below to create the the `truth_table` data frame that corresponds to the table below. The `NA` entries correspond to blanks. 
- Use `mutate()` and boolean expressions to fill in the entries in all of the blank columns. 
- Output the updated version of `truth_table`. Do the machine generated entries agree with your manually generated entries on Lab 4?


|   a   |   b   | a & b | !(a & b) | !a | !b | (!a) \| (!b) |
|:-----:|:-----:|:-----:|:--------:|:--:|:--:|:------------:|
|  TRUE |  TRUE |       |          |    |    |              |
|  TRUE | FALSE |       |          |    |    |              |
| FALSE |  TRUE |       |          |    |    |              |
| FALSE | FALSE |       |          |    |    |              |

In [5]:
# Your cannot edit this cell
truth_table <- data.frame(
    a = c(TRUE, TRUE, FALSE, FALSE),
    b = c(TRUE, FALSE, TRUE, FALSE),
    a_and_b = rep(NA, 4),
    not__a_and_b = rep(NA, 4),
    not_a = rep(NA, 4),
    not_b = rep(NA, 4),
    not_a__or__not_b = rep(NA, 4)
)

  a     b     a_and_b not__a_and_b not_a not_b not_a__or__not_b
1  TRUE  TRUE NA      NA           NA    NA    NA
2  TRUE FALSE NA      NA           NA    NA    NA
3 FALSE  TRUE NA      NA           NA    NA    NA
4 FALSE FALSE NA      NA           NA    NA    NA

### Exercise 2: Car rental
Let `age` be a numerical variable encoding a person’s age in years and `has_drivers_license` be a boolean variable encoding whether or not that person has a drivers license. We will define two new boolean variables as follows:

`is_above_25` is `TRUE` if the person is 25 years old or older and `FALSE` if they are younger than 25. 

`can_rent_a_car` is `TRUE` only when `is_above_25` and `has_drivers_license` are both `TRUE` otherwise it is `FALSE`.

- Run the code cell below to generate the `car_rental` data frame that corresponds to the table below. The `NA` entries correspond to blanks. 
- Use `mutate()` and boolean expressions to fill in the last two columns of the data frame with the appropriate values. 
- Output the updated version of `car_rental`. Do the machine generated entries agree with your manually generated entries on Lab 4?

| age | has_drivers_license | is_above_25 | can_rent_a_car |
|-----|---------------------|-------------|----------------|
| 45  | TRUE                |             |                |
| 18  | TRUE                |             |                |
| 80  | FALSE               |             |                |
| 14  | FALSE               |             |                |

In [12]:
# You cannot edit this cell.
car_rental <- data.frame(
    age = c(45, 18, 80, 14),
    has_drivers_license = c(TRUE, TRUE, FALSE, FALSE),
    is_above_25 = rep(NA, 4),
    can_rent_a_car = rep(NA, 4)
)

## Part 2: Project 1 warm up

### Exercise 3: Election data set

- Run the code in the cell below to load the `us_president_1976_2020` data sets. The `sep = '\t'` option is necessary, because the data sets is separated by tabs rather than commas. 
- Use the JupyterHub file tree to navigate to the shared project 1 folder and read the code book for this data set. 
- Explore this data set and answer the following questions about it:
    * How many observations are there?  How many variables?
    * What does each observation correspond to?
    * What variables might be interesting to explore?  What are the types of these variables?
- Use (at least) one of the following `dplyr` functions to further explore this dataset: `mutate()`, `arrange()`, `filter()`, `group_by()`, `summarize()`.
- Create (at least) one data visualization from this data set.

In [17]:
# You cannot edit this cell.
us_president_1976_2020 <- read.csv('https://dataverse.harvard.edu/api/access/datafile/4299753', sep = '\t')

### Exercise 4: AirBnB

- Run the code in the cell below to load the `airbnb_listings` data sets.  
- Explore this data set and answer the following questions about it:
    * How many observations are there?  How many variables?
    * What does each observation correspond to?
    * What variables might be interesting to explore?  What are the types of these variables?
- Use (at least) one of the following `dplyr` functions to further explore this dataset: `mutate()`, `arrange()`, `filter()`, `group_by()`, `summarize()`.
- Create (at least) one data visualization from this data set.

In [ ]:
# You cannot edit this cell.
airbnb_listings <- read.csv('http://data.insideairbnb.com/united-states/ny/new-york-city/2021-12-04/visualisations/listings.csv')

## Part 3: A Quick Reflection
Briefly answer the prompts below in the markdown cell provided. (1-2 sentences for each prompt
is sufficient.)

### Exercise 5: What was helpful?
Indicate one question/part in this assignment that you find helpful in helping you understand
an idea or method introduced in class. This could be a question/task that you knew right
away how to do; one for which you kept encountering bugs/errors; or one that you needed
to think a while or discuss with others first to figure out.
(State which question/part and how it helps you with which idea/method.)

### Exercise 6: What was challenging / interesting?
Write one thing that you find challenging or interesting in this assignment. Briefly elaborate on what made it challenging or interesting.

## Part 4: Generate PDF file and submit

### Print this notebook as PDF document
Download a PDF version of this notebook using one of the following strategies.

#### Strategy 1: Use print preview
Use the menu option File > Print Preview to generate a printer friendly version of this notebook. Then use your browsers print dialogue to save as PDF.
Use the following menu option to download a PDF version of this notebook.

#### Strategy 2: Use LaTeX
Use the menu option File > Download as > PDF via LaTeX (.pdf) generate a PDF file you can download. 

### Submit on Gradscope
Submit the PDF document on Gradescope. Be sure to assign a page to each question even if your document is only one
page, See the [Gradescope support page](https://help.gradescope.com/article/ccbpppziu9-student-submit-work#submitting_a_pdf) for detailed instructions. Assigning pages to questions greatly expedites the grading process.