# If-else statements

<pre><code>
if (BOOLEAN_EXPRESSION) {
    ACTION_IF_EXPRESSOIN_IS_TRUE
} else {
    ACTION_IF_EXPRESSOIN_IS_FALSE
}
</code></pre>

In [11]:
'happy' != 'sad' # not equal

[1] FALSE

In [12]:
'happy' == 'HAPPY'

[1] FALSE

In [14]:
1 + 1 == 2

[1] TRUE

In [16]:
2*3 <= 6 # less than or equal

[1] TRUE

In [2]:
library(dplyr)

In [9]:
two_boolean_variables <- data.frame(
    a = c(TRUE, TRUE, FALSE, FALSE),
    b = c(TRUE, FALSE, TRUE, FALSE)
)

two_boolean_variables %>% select(-a) %>% mutate(not_b = !b) %>% head(2)
two_boolean_variables %>% mutate(a_and_b = a & b)
two_boolean_variables %>% mutate(a_or_b = a | b)

  b     not_b
1  TRUE FALSE
2 FALSE  TRUE

  a     b     a_and_b
1  TRUE  TRUE  TRUE
2  TRUE FALSE FALSE
3 FALSE  TRUE FALSE
4 FALSE FALSE FALSE

  a     b     a_or_b
1  TRUE  TRUE  TRUE
2  TRUE FALSE  TRUE
3 FALSE  TRUE  TRUE
4 FALSE FALSE FALSE

<pre><code>
if ( BOOLEAN_EXPRESSION_1 ) {
    ACTION_IF_EXPRESSOIN_1_IS_TRUE
} else if ( BOOLEAN_EXPRESSION_2 ) {
    ACTION_IF_EXPRESSOIN_2_IS_TRUE # and expressoin 1 is false
} else {
    ACTION_IF_BOTH_EXPRESSOINS_ARE_FALSE
}
</code></pre>