# Lab 1 Worksheet

## Part 0: Getting started

### Open this notebook on the Jupyter Hub
* Click on the rocket icon in the upper right of this page of the course book. 
* Click the JupyterHub link.
* If prompted, log in to the Jupyter Hub with your NYU account.
* If prompted to select a kernel, choose *R [conda env:FDTD]*.

### Name, NetID, Collaborators
Please edit the markdown cell below for “Names & NetIDs” and enter:
- Your name and NetID (eg. cc5948), and
- The names and NetIDs of everyone with whom you have collaborated with (e.g., discussed
questions with, provided help to, received help from, etc.).

Our goal is to create an honest, collaborative, and positive learning environment. Keep
in mind that while collaboration in lab and homework is strongly encouraged, the work
you submitted must be your own (you typed them up yourself; you can explain what you
submitted). Your goal is to use the help and support to eventually understand the ideas
and the methods yourself

**Name and NetID:**


**Collaborators:**

## Part 1: Bronx Population

### Exercise 1: Loading and storing the data
Lehman College (part of the City University of New York system) hosts a portal for a variety
of data sets about the Bronx: https://bronx.lehman.cuny.edu. In this part, we will explore a [population density data set](https://bronx.lehman.cuny.edu/Population/Bronx-Zip-Pop-Density/2q3n-mzjq) from this portal. 

- From the data set page linked above, click "Export", right click on "CSV", and choose "Copy
link address".
- Use this link to import this data as an R data frame:
```read.csv( 'LINK')```
- Store the data set in a variable called `bronx_pop_density`.
- Use the head() function to preview the first 2 rows of this data frame. Notice that R truncates the data; it doesn't show some of the middle variables.

### Exercise 2: Area and population density. 
- Determine which Bronx county has the largest area.
- Determine which Bronx county has the lowest population density.
- Summarize your findings in a markdown cell.

### Exercise 3: Vacant units
- Add a column called `vacant_units` to `bronx_pop_density` contains the number of vacant housing units in each zip code. Assume that each household occupies a single housing unit. 
- Find the average number of vacant units per zip code in the Bronx in 2010. 
- Summarize your findings in a markdown cell.

## Part 2: Corner store

### Exercise 4: Sort
- Execute the data cell below to create that inventory data frame. 
- Output the inventory data frame.
- Sort the inventory data frame so that the items with the highest tax are at the top and within each tax bracket the prices are increasing.

In [7]:
# You cannot edit this cell. 
# Notice that R gives no output when you assign values to variables.
# You can see that the cell has been exicuted if there is a number in the brackets: In [].

inventory <- data.frame(
    item = c('paper towels','apple', 'banana', 'burrito'),
    price =  c(1.29, 0.5, 8.99, 3.99 ), # in US dollars
    tax = c(8.875, 0, 0, 8.875) # tax rate as percentage
)

In [8]:
inventory

  item         price tax
1 paper towels 1.29  8.875
2 apple        0.50  0.000
3 banana       8.99  0.000
4 burrito      3.99  8.875

### Exercise 5: Total cost

- Do the following with a sequenced of piped commands and store the result in the `inventory` data frame.
- Add a column called `total_cost` containing the cost of each item including tax to the inventory data frame. 
- Sort the data frame by total cost.