(lab02)=
# Lab 2 Worksheet

## Name, NetID, Collaborators
Please edit the markdown cell below for “Names & NetIDs” and enter:
- Your name and NetID (eg. cc5948), and
- The names and NetIDs of everyone with whom you have collaborated with (e.g., discussed
questions with, provided help to, received help from, etc.).

Our goal is to create an honest, collaborative, and positive learning environment. Keep
in mind that while collaboration in lab and homework is strongly encouraged, the work
you submitted must be your own (you typed them up yourself; you can explain what you
submitted). Your goal is to use the help and support to eventually understand the ideas
and the methods yourself

**Name and NetID:**


**Collaborators:**

## Part 1 Sale!
The questions in this section all refer to the `sale` data set described in the table below. The Discount column gives the percentage by which the price is reduced. Thus, the carrots marked down by 50%.

The exercise should be completed **without using data frames or dplyr**. You may using R to do arithmetic, but everything else should be done by hand. You can also use this [Markdown Table Generator](https://www.tablesgenerator.com/markdown_tables) to create tables more easily. 


<table>
<thead>
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th>Discount</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>fruit</td>
    <td>apple</td>
    <td>0</td>
  </tr>
  <tr>
    <td>vegetable</td>
    <td>spinach</td>
    <td>25</td>
  </tr>
  <tr>
    <td>vegetable</td>
    <td>carrot</td>
    <td>50</td>
  </tr>
  <tr>
    <td>fruit</td>
    <td>pear</td>
    <td>25</td>
  </tr>
  <tr>
    <td>grain</td>
    <td>rice</td>
    <td>50</td>
  </tr>
  <tr>
    <td>grain</td>
    <td>quinoa</td>
    <td>0</td>
  </tr>
  <tr>
    <td>fruit</td>
    <td>banana</td>
    <td>50</td>
  </tr>
  <tr>
    <td>vegetable</td>
    <td>celery</td>
    <td>75</td>
  </tr>
  <tr>
    <td>vegetable</td>
    <td>onion</td>
    <td>50</td>
  </tr>
</tbody>
</table>

### Exercise 1: First summary table
The following code defines a data frame called `table_1`. In the markdown cell below, use a markdown table to display `table_1`. Briefly explain your reasoning. 

<pre>
<code>
table_1 &lt;- sale %&gt;% 
    group_by(Type) %&gt;% 
    summarize(Average_Discount = mean(Discount)) %&gt;% 
    arrange(Type)                
</code>
</pre>

### Exercise 2: Second summary table
The following code defines a data frame called `table_2`. In the markdown cell below, use a markdown table to display `table_2`. Briefly explain your reasoning. 

<pre>
<code>
table_2 &lt;- sale %&gt;% 
    group_by(Discount) %&gt;% 
    summarize(Number = n()) %&gt;% 
    arrange(desc(Number))
</code>
</pre>

### Exercise 3: First summary table
The following code defines a data frame called `table_3`. In the markdown cell below, use a markdown table to display `table_3`. Briefly explain your reasoning. 

<pre>
<code>
table_3 &lt;- sale %&gt;% 
    filter(Discount &gt;=30 &amp; Discount &lt;60) %&gt;% 
    select(-Discount)
</code>
</pre>

## Part 2: NYC Trees

### Exercise 4: Custom order
There is a CSV file called `NYC_Tree_Census_small.csv` in the `~/shared/data` folder. This file contains information an excerpt from the [2015 New York City Tree Census](https://data.cityofnewyork.us/Environment/2015-Street-Tree-Census-Tree-Data/uvpi-gqnh) shared by the [NYC OpenData project](https://data.cityofnewyork.us). 

- Import the NYC tree census data **from the local file** and store it as a data frame called `nyc_trees`.
- Load the dplyr and gglot2 libraries. 
- Create a summary table that shows the number of trees in each borough and store it in `borough_count`.
- Output `borough_count`.
- Create a bar chart that visualizes the data in your summary table.

### Exercise 5: Custom order
We can use `factor()` to tell R our preferred order for the values in a categorical variable. Consider the following example.

A data set called `schools` contains a variable called `school_type` which indicates whether the given school is a 'kindergarten' (age 5), 'elementary school' (age 6 - 10), 'middle school' (age 11 - 13) or 'high school' (age 14 - 17). The following command will tell R that we prefer to sort `school_type` the the specified order rather than alphabetically.

<pre>
<code>
schools &lt;- mutate(schools, school_type = 
                  factor(school_type, levels = c('kindergarten', 'elementary school', 'middle school', 'high school' ))
                 )
</code>
</pre>

Here is the general syntax for factor:

```factor(VECTOR_OF_DATA, levels=VECTOR_OF_ORDERED_VALUES)```

The output of factor is VECTOR_OF_DATA with the additional structure of a specified order to the values.

- Use `mutate()` and `factor()` to specify an order for the boroughs that is **not alphabetical** and store the result in `nyc_trees_custom`. 
- Recreate the summary table and bar chart from Exercise 5 using `nyc_trees_custom` and verify that the boroughs are listed in your specified order.