(in-class_exercises:lesson05)=
# Lesson 5: Select columns and filter rows
These exercises are to help you check your understanding during class. They will not be collected.

## Part 1: Set up and sort

### Exercise 1: Set up

There is a CSV file called `NYC_Dog_Licensing.csv` in the `~/shared/data` folder. As the name indicates, this file contains information about New York City dog licenses. This data comes from the [NYC OpenData project](https://opendata.cityofnewyork.us/).

- Import the NYC Dog Licenses data **from the shared folder** using the `read.csv()` function and store it in an R data frame called `nyc_dogs`.
- In a separate code cell, load the dplyr package by running the ```library(dplyr)```command. You can ignore the warnings about masked objects.
- In a separate code cell, use ```mutate()``` to add a new column called `Age` to the data frame. This column should contain an approximation of each dog's age.

### Exercise 2: Select Columns

The `nyc_dogs` data frame has a lot of columns that we wont use today. Use `select()` to prune the columns in `nyc_dogs` as described below.

Keep:
- AnimalName
- AnimalGender
- BreedName
- ZipCode
- Age

Remove:
- X
- RowNumber
- AnimalBirthYear
- Borough
- LicenseIssuedDate
- LicenseExpiredDate
- Extract.Year

Then, use the `names()` function to check that your code had the desired affect.

### Exercise 3: Piping

In Exercise 1 and 2, you completed the following tasks:
1. Added a column called Age to `nyc_dogs`.
2. Selected the columns `AnimalName`, `AnimalGender`, `BreedName`, `ZipCode` and `Age`.
3. Stored the result in `my_dogs`. 

In this exercise, you will do this again using piping.

- Rerun the code cell where you loaded the dog license data. This will undo the edits that you made. 
- Verify that this worked using `names()`.
- Write code that uses piping to accomplish the task listed above in a single chain of commands. 
- Verify that your code worked, by using `head()` to view the first 3 rows of `nyc_dogs`.

## Part 2: Filter

### Exercise 4: Find the old Chihuahuas

- Filter the nyc_dogs data frame to consist only of dogs are at least 10 years old and whose breed is 'Chihuahua'. 
- Store the filtered data in a new data frame called `old_chihuahuas`. 
- Use `head()` to check that your code had the desired affect.

### Exercise 5: How many old Chihuahuas are there?
How many chihuahuas are there in the data set that are at least 10 years old?

### Exercise 6: Check your assumptions
What assumptions are underlying your answer? Is your number likely larger than, equal to, or smaller than the actual number.