(lab02)=
# Lab 2 Worksheet

## Name, NetID, Collaborators
Please edit the markdown cell below for “Names & NetIDs” and enter:
- Your name and NetID (eg. cc5948), and
- The names and NetIDs of everyone with whom you have collaborated with (e.g., discussed
questions with, provided help to, received help from, etc.).

Our goal is to create an honest, collaborative, and positive learning environment. Keep
in mind that while collaboration in lab and homework is strongly encouraged, the work
you submitted must be your own (you typed them up yourself; you can explain what you
submitted). Your goal is to use the help and support to eventually understand the ideas
and the methods yourself

**Name and NetID:**


**Collaborators:**

## Part 1 Sale!
The questions in this section all refer to the `sale` data set described in the table below. The Discount column gives the percentage by which the price is reduced. Thus, the carrots marked down by 50%.

The exercise should be completed **without using data frames or dplyr**. You may using R to do arithmetic, but everything else should be done by hand. You can also use this [Markdown Table Generator](https://www.tablesgenerator.com/markdown_tables) to create tables more easily. 


<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Type</th>
    <th class="tg-0pky">Description</th>
    <th class="tg-0pky">Discount</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">fruit</td>
    <td class="tg-0pky">apple</td>
    <td class="tg-0pky">0</td>
  </tr>
  <tr>
    <td class="tg-0pky">vegetable</td>
    <td class="tg-0pky">spinach</td>
    <td class="tg-0pky">25</td>
  </tr>
  <tr>
    <td class="tg-0pky">vegetable</td>
    <td class="tg-0pky">carrot</td>
    <td class="tg-0pky">50</td>
  </tr>
  <tr>
    <td class="tg-0pky">fruit</td>
    <td class="tg-0pky">pear</td>
    <td class="tg-0pky">25</td>
  </tr>
  <tr>
    <td class="tg-0pky">grain</td>
    <td class="tg-0pky">rice</td>
    <td class="tg-0pky">50</td>
  </tr>
  <tr>
    <td class="tg-0pky">grain</td>
    <td class="tg-0pky">quinoa</td>
    <td class="tg-0pky">0</td>
  </tr>
  <tr>
    <td class="tg-0pky">fruit</td>
    <td class="tg-0pky">banana</td>
    <td class="tg-0pky">50</td>
  </tr>
  <tr>
    <td class="tg-0pky">vegetable</td>
    <td class="tg-0pky">celery</td>
    <td class="tg-0pky">75</td>
  </tr>
  <tr>
    <td class="tg-0pky">vegetable</td>
    <td class="tg-0pky">onion</td>
    <td class="tg-0pky">50</td>
  </tr>
</tbody>
</table>

## Part 2: NYC Trees

### Exercise 4: Custom order
There is a CSV file called `NYC_Tree_Census_small.csv` in the `~/shared/data` folder. This file contains information an excerpt from the [2015 New York City Tree Census](https://data.cityofnewyork.us/Environment/2015-Street-Tree-Census-Tree-Data/uvpi-gqnh) shared by the [NYC OpenData project](https://data.cityofnewyork.us). 

- Import the NYC tree census data **from the local file** and store it as a data frame called `nyc_trees`.
- Load the dplyr and gglot2 libraries. 
- Create a summary table that shows the number of trees in each borough and store it in `borough_count`.
- Output `borough_count`.
- Create a bar chart that visualizes the data in your summary table.