(base_r:vectors)=
# Vectors
In R, *vectors* are ordered collections of entries where each entry has the same type. We use `c()` to combine multiple values into a single vector.

```c(VALUE_1, VALUE_2, VALUE_3,...)```

Vectors of consecutive integers can be constructed using the colon operator.

```START_VALUE:END_VALUE```

### Examples: Constructing vectors

In [1]:
c(1,3,5,7,9,11)

[1]  1  3  5  7  9 11

In [4]:
c(1.75, 0.5, 100)

[1]   1.75   0.50 100.00

In [2]:
c('cat', 'dog', 'turtle', 'fish')

[1] "cat"    "dog"    "turtle" "fish"

In [5]:
1:20

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [6]:
-5:2

[1] -5 -4 -3 -2 -1  0  1  2

## Type coercion 
The entires in a vector must all have the same data type. When applied to a vector, the`typeof()` function returns the data type of the entries in that vector.

In [28]:
typeof(1:20)

[1] "integer"

In [27]:
typeof(c('cat', 'dog', 'turtle', 'fish'))

[1] "character"

In [29]:
typeof(c(1.75, 0.5, 100))

[1] "double"

In [30]:
typeof(c(TRUE, FALSE, TRUE, TRUE))

[1] "logical"

<div class="admonition warning" name="html-admonition">
<div class="title" style="background: pink; padding: 10px">Warning</div>
    <p>If vector entries are not of the same type, R will coerce them into being the same type.</p>
</div>

In [24]:
typeof(1)
typeof('cat')
typeof(TRUE)

c('cat', 1, TRUE) # entries inputed with three different types

[1] "double"

[1] "character"

[1] "logical"

[1] "cat"  "1"    "TRUE"

In [26]:
typeof(c(1, 'cat', TRUE)) # entries are ALL stored as charcters

[1] "character"

R changed both the double and the logical variables to character variables. Notice the quote marks around 1 and TRUE in the output.

## Combining vectors
The `c()` function can also be used to combine multiple vectors into a single vector.

```c(VECTOR_1, VECTOR_2, VECTOR_3,...)```

In [14]:
c(1:2,4:10) # All integers from 1 to 10 exept 3

[1]  1  2  4  5  6  7  8  9 10

In [15]:
cats <- c('Tiger', 'Boots', 'Fluffy')
dogs <- c('Spot', 'Rover', 'Buddy')
c(cats, dogs)

[1] "Tiger"  "Boots"  "Fluffy" "Spot"   "Rover"  "Buddy"